 <footer class="sticky footer mt-auto py-3 bg-dark">
  <div class="container">
    <h6 class="text-align: center;">Copyright @ Employee Management System</h6>
  </div>
</footer>
<style>
body{
    min-height: 100vh;
}
.sticky{
    position: sticky;
    top: 100%;
    color:white;
}

</style>