<h1>About</h1>

 <br>
 <br>
 <h3> What is User Management System ? </h3>
 <br>
 <p>User management describes the ability for administrators to manage user access to various IT resources like systems, devices, applications, storage systems, networks, SaaS services, and more. User management is a core part to any identity and access management (IAM) solution, in particular directory services tools. Controlling and managing user access to IT resources is a fundamental security essential for any organization. User management enables admins to control user access and on-board and off-board users to and from IT resources. Subsequently a directory service will then authenticate, authorize, and audit user access to IT resources based on what the IT admin had dictated.
 </p>
 <br>
 <h3> What is HRMS ? </h3>
 <br>
 <p>An HRMS, or human resources management system, is a suite of software applications used to manage human resources and related processes throughout the employee lifecycle. An HRMS enables a company to fully understand its workforce while staying compliant with changing tax laws and labor regulations.

HR leaders and staff are the primary users, given that they run day-to-day workforce operations and are responsible for compliance and performance reporting. However, HR isn’t the only department that benefits. Companies can empower managers and employees with self-service for common tasks—an important selling point for younger hires. Executives can use an HRMS to generate data on workforce trends and their business implications
 </p>
 <br>
 <hr>
 

<div class="container" style="background-color:#454545; color:white;">
<h3> Team Member: </h3>
<br>
  <div class="row">
    <div class="col-sm">
     <p>Prathmesh Asole</p>
 <p>Siddhart Ganvir</p>
 <p>Mihir Gaikwad</p>
    </div>
    <div class="col-sm">
      <p>Khitij Wakeakar</p>
 <p>Simran Singh</p>
    </div>
   
  </div>
</div>


 
 <br>
 <p>
 
 

 </p>
 <br>